streamlit
tensorflow
tf-keras
torch
torchvision
torchaudio
transformers
scikit-learn
matplotlib
wordcloud
numpy
plotly
pandas
scipy
seaborn
nltk
requests
spacy==3.5.0
cython==0.29.21
thinc==8.1.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
