streamlit
tensorflow>=2.0.0
tf-keras
torch
torchvision
torchaudio
transformers
spacy
scikit-learn
matplotlib
wordcloud
numpy
plotly
pandas
scipy
seaborn
nltk
requests
en-core-web-sm==3.4.1 
